# This file enables non-root access to the TakkTile touch sensor under udev-enabled Linux systems
# such as Ubuntu
#
# It is provided as-is with no implied warranty
#
# It has been tested on: 
#  Ubuntu 12.04 64-bit
#  Raspbian

ATTRS{idVendor}=="59e3", ATTRS{idProduct}=="74c7", SUBSYSTEMS=="usb", ACTION=="add", MODE="0666", GROUP="plugdev"

